body{
display: flex;
justify-content: center;
align-items: center;
height:100vh;

}


.user{
  display:flex;
  background-image: linear-gradient(90deg, rgba(92,191,187,1) 10%, rgba(116,214,144,1) 73%);
  padding: 5px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  
}
img{
  border-radius: 50%;
  border:2px solid white;
  height: 40px;
  width: 40px;
  margin:10px 0px 10px 30px;
}
p{
  padding:5px 5px 0 10px;
}

.box{

 width:400px;
 border-radius: 30px;
 box-shadow:0 0 20px 30px #f9f9f9 ;
}
.name{
  color: white;
  font-weight: 500;
  margin-left:5px;
  margin-top: 10px;
}